$light-background: #efefef;
$text-color66: #666666;
$border-gray-colorCC: #CCCCCC;
$border-light-colorEE: #EEEEEE;
$type-hover-color: #F08080;
$text-dark-color31: #313131;
$title-hover-color: #79bd9a;
$page-text-color: #4a4a4a;
$page-link-color: #d1d1d1;
$btn-delete-color: crimson;
$btn-edit-color: #03A87C;