$nav-color: #03121F;
$nav-hover-color: #525252;
$item-color: #414141;
$btn-color: #eec60a;
$btn-hover-color: #FFD800;
$btn-text-color: #2d2d2d;

@mixin cursor_effect($sec) {
  transition: all ease-in $sec;
  cursor: pointer;
}

@mixin text_style() {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin absoluteCenter() {
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
}

.debug *, .debug {
  /* outline: solid 1px gold; */
  margin: 0;
  padding: 0;
}

html {
  font-family: '微軟正黑體';
  scroll-behavior: smooth;
}

.banner {
  display: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./banner.jpg);
  background-size: cover;
  text-align: center;

  > div {
    @include absoluteCenter;
  }

  h1 {
    margin-bottom: 15px;
    color: white;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 2px;
  }

  p {
    color: white;
    font-size: 20px;
  }

  p + div {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  img {
    margin-top: 20px;
    width: 100%;
    @include cursor_effect(.3s);

    &:hover {
      transform: scale(1.12);
    }
  }
}

.gameList {
  background: $nav-color;
  padding: 30px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  background: $nav-color;
  text-align: center;

  .navItem {
    display: inline-block;
    color: white;
    border: 1px solid $nav-hover-color;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    @include cursor_effect(.3s);

    &:hover {
      background: $nav-hover-color;
    }
  }

  .select {
    background: $nav-hover-color;
  }

  div + div {
    margin-left: 10px;
  }
}

.streamItem {
  border-radius: 3px;
  width: 25%;
  background-size: cover;
  box-sizing: border-box;
  margin: 0 10px 20px 10px;
  background: $item-color;
  border: solid 2px $item-color;
  @include cursor_effect(.2s);


  &:hover {
    transform: scale(1.02);
    filter: brightness(1.2);
  }

  > img {
    width: 100%;
  }

  p {
    @include text_style;
    font-size: 14px;
  }

  h3 {
    @include text_style;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.streamItem-empty {
  width: 25%;
  margin: 0 10px 20px 10px;
}


.itemInfo {
  display: flex;
  width: 95%;
  padding: 5px;
}

.itemDetail {
  padding-left: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.itemAvator img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}


body > div {
  background: $nav-color;
  text-align: center;
}

.btn-more {
  border: none;
  margin: 20px;
  padding: .5vw 5vh;
  border-radius: 20px;
  background: $btn-color;
  font-size: 16px;
  font-weight: bold;
  color: $btn-text-color;
  @include cursor_effect(.3s);

  &:hover {
    background: $btn-hover-color;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}


@media(max-width: 768px) {
  .streamItem {
    width: 45%;
  }

  .gameList {
    padding: 10px 40px;
  }

  .navItem {
    margin: 10px 0;
  }
}

@media(max-width: 480px) {
  .streamItem {
    width: 100%;
  }
}