.debug *, .debug {
  background: #f2f4f6;
  /* outline: solid 1px red; */
  margin: 0;
  padding: 0;
}

html {
  font-family: '微軟正黑體';
  scroll-behavior: smooth;
}

.form {
  overflow: auto;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  box-shadow: 1.8px 2.4px 5px 0px rgba(0, 0, 0, 0.3);
  border-top: #fad312 solid 10px;
  border-radius: 8px;
  width: 50%;
}

.wrapper {
  padding: 54px 40px;
  background: white;
}

.wrapper * {
  background: transparent;
}

.form h1 {
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.form h3 {
  line-height: 2em;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.form h4 {
  margin-top: 22px;
  font-size: 16px;
  color: #e74149;
}

.form-block h4, .others {
  margin: 55px 0 20px 0;
  margin-right: 15px;
  font-weight: 550;
  font-size: 20px;
  color: black;
}

.others > p {
  margin-top: 12px;
  font-size: 14px;
  color: black;
}

.form-block h4::after {
  content: "*";
  color: #e74149;
}

.form input + p, .form-block div + p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #E60000;
}

.input {
  border: 0px;
  border-bottom: #afafaf 1px solid;
  outline-color: transparent;
  padding-bottom: 5px;
  box-sizing: border-box;
  width: 300px;
  font-size: 16px;
  color: #414141;
  transition: ease-out .2s all;
}

.input::placeholder {
  color: #afafaf;
}

.input:focus {
  border-bottom: #fad312 3px solid;
}

.btn-submit {
  display: block;
  margin: 55px 0 20px 0;
  border-radius: 3px;
  border: none;
  padding: 13px 30px;
  background: #fad312;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in all .2s;
}

.btn-submit:focus {
  border: none;
  outline: none;
}

.btn-submit:hover {
  background: #fada3c;
  transform: scale(1.05);
}

.suggestion {
  font-size: 14px;
  font-weight: bold;
}

/* 移除預設樣式 */
#choice1, #choice2 {
  display: none;
}

.radio-group {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.radio-group div {
  padding: 10px 0px;
}

.radio-group span {
  display: inline-block;
  margin: -2px 10px 0 0;
  border-radius: 50%;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  background: #dadada;
  vertical-align: middle;
  cursor: pointer;
  transition: ease-in-out  .1s;
}

input:hover + label > span {
  background: #cfcfcf;
}

input:checked + label > span {
  display: inline-block;
  margin: -2px 10px 0 0;
  box-sizing: border-box;
  border: #fad312 5.5px solid;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: white;
  vertical-align: middle;
  cursor: pointer;
}

.footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: black;
  color: #999999;
}

.hidden {
  visibility: hidden;
}


@media (max-width: 768px) {
  .form {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
  }

  .input {
    width: 230px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 90%;
  }

  .input {
    width: 180px;
  }
}
